<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Abandoned_notice" type="DB.dto.Abandoned_noticeDTO"/>
        <typeAlias alias="Animal" type="DB.dto.AnimalDTO"/>
        <typeAlias alias="Form" type="DB.dto.FormDTO"/>
        <typeAlias alias="Missing_notice" type="DB.dto.Missing_noticeDTO"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/abandoned_animal?characterEncoding=utf8&amp;serverTimezone=UTC&amp;useSSL=false&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="wl87901@"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="sqlmapper/abandoned_notice.xml"/>
        <mapper resource="sqlmapper/missing_notice.xml"/>
        <mapper resource="sqlmapper/animal.xml"/>
        <mapper resource="sqlmapper/form.xml"/>
    </mappers>
</configuration>